html, body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden !important;
  user-select: none;
}

.homepage {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.mainImage {
  position: absolute;
  top: 0; left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  object-position: center;
  z-index: 1;
  user-select: none;
  pointer-events: none;
}