/* index.css */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; /* This kills the scroll globally */
  background-color: #fff; /* Hides the notch bar if image fails */
  overscroll-behavior: none; /* Stops the bounce */
}

#root {
  width: 100%;
  height: 100%;
}